<%= form_for(@movie_file) do |f| %>
  <% if @movie_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_file.errors.count, "error") %> prohibited this movie_file from being saved:</h2>

      <ul>
      <% @movie_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
