<h1>Listing movie_files</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_files.each do |movie_file| %>
      <tr>
        <td><%= link_to 'Show', movie_file %></td>
        <td><%= link_to 'Edit', edit_movie_file_path(movie_file) %></td>
        <td><%= link_to 'Destroy', movie_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie file', new_movie_file_path %>
